<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/aa582978-56b8-405b-a3d8-0139691cdace/resourceGroups/ProjetoFinal-CodingGirls/providers/Microsoft.Web/sites/APIGerenciamentodeEnsino20220703234102</ResourceId>
    <ResourceGroup>ProjetoFinal-CodingGirls</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apigerenciamentodeensino20220703234102.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bd8861e9-2a73-4ba0-9acc-3f1a1211a361</ProjectGuid>
    <PublishUrl>https://apigerenciamentodeensino20220703234102.scm.azurewebsites.net/</PublishUrl>
    <UserName>$APIGerenciamentodeEnsino20220703234102</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>